<section>
  <article class="podcast">
    <h1>Sobre o podcast</h1>
  </article>

  <p>
    Explicar todo o programa aqui e quais as características e tudo mais
  </p>

  <div class="list">
    <ul>
      <li>
        Criar tópicos1
      </li>
      <li>
        Criar tópicos1
      </li>
      <li>
        Criar tópicos2
      </li>
      <li>
        Criar tópicos3
      </li>
    </ul>
  </div>

  <p>
    vender ainda mais o peixe, marketeiro mesmo.
  </p>

  <p>Para feedback, questões e solicitações, nos mande e-mail em: <a href="mailto:podcastliga@gmail.com">podcastliga@gmail.com</a>.</p>

  <h3>About the host</h3>

  <p>
    <img class="host-photo" src="/assets/photo.jpg" />
    Explicar os participantes aqui, exemplo de foto.
  </p>

  <p>
    Explicar as qualifições e características dos participantes
  </p>

  <p>
    Explicar as qualifições e características dos participantes
  </p>
</section>
